---js
const eleventyNavigation = {
	key: "Media",
	order: 2
};
---

<blockquote class="reddit-embed-bq" style="height:500px" data-embed-height="673"><a href="https://www.reddit.com/r/dataisbeautiful/comments/xx5tnt/oc_cyclone_batsirai_the_longest_lasting_cyclone/">[OC] Cyclone Batsirai - The Longest Lasting Cyclone of 2022</a><br> by<a href="https://www.reddit.com/user/mightylighthouse/">u/mightylighthouse</a> in<a href="https://www.reddit.com/r/dataisbeautiful/">dataisbeautiful</a></blockquote><script async="" src="https://embed.reddit.com/widgets.js" charset="UTF-8"></script>

<hr>

<blockquote class="reddit-embed-bq" style="height:500px" data-embed-height="609"><a href="https://www.reddit.com/r/dataisbeautiful/comments/155qdpp/oc_daily_satellite_data_detects_the_moment_a/">[OC] Daily Satellite Data Detects the Moment a Patch of the Amazon Becomes a Soybean Farm</a><br> by<a href="https://www.reddit.com/user/purple_manta_ray/">u/purple_manta_ray</a> in<a href="https://www.reddit.com/r/dataisbeautiful/">dataisbeautiful</a></blockquote><script async="" src="https://embed.reddit.com/widgets.js" charset="UTF-8"></script>

<hr>

<image width="100%" height=auto src="/img/corncovercropping.jpeg">

<hr>

<iframe src="https://www.linkedin.com/embed/feed/update/urn:li:ugcPost:7113521381870374912" height="907" width="504" frameborder="0" allowfullscreen="" title="Embedded post"></iframe>

<hr>



<image width="100%" height=auto src="/img/francewinterwheattillage.jpeg"></image>


<hr>

<image width="100%" height=auto src="/img/soycover.jpeg"></image>

<hr>

<image width="100%" height=auto src="/img/indiaelev.jpeg"></image>


<hr>

<image width="100%" height=auto src="/img/chinaelev.jpeg"></image>

<hr>

<iframe src="https://www.linkedin.com/embed/feed/update/urn:li:share:7118262193338400768" height="1084" width="504" frameborder="0" allowfullscreen="" title="Embedded post"></iframe>

<hr>

<iframe src="https://www.linkedin.com/embed/feed/update/urn:li:share:7044699398357864449" height="1099" width="504" frameborder="0" allowfullscreen="" title="Embedded post"></iframe>

<hr>

<iframe src="https://www.linkedin.com/embed/feed/update/urn:li:share:7044266391654301696" height="1328" width="504" frameborder="0" allowfullscreen="" title="Embedded post"></iframe>

<hr>

<iframe src="https://www.linkedin.com/embed/feed/update/urn:li:share:7039317684915769346" height="925" width="504" frameborder="0" allowfullscreen="" title="Embedded post"></iframe>

<hr>

<iframe src="https://www.linkedin.com/embed/feed/update/urn:li:share:7037109695953731586" height="1382" width="504" frameborder="0" allowfullscreen="" title="Embedded post"></iframe>

<hr>

<iframe src="https://www.linkedin.com/embed/feed/update/urn:li:ugcPost:6983438528139468800" height="634" width="504" frameborder="0" allowfullscreen="" title="Embedded post"></iframe>

<hr>

<blockquote class="reddit-embed-bq" data-embed-height="740">Posts from the <a href="https://www.reddit.com/r/dataisbeautiful/comments/xgup6r/oc_map_of_a_rain_shadow_phenomenon_pacific_west/">dataisbeautiful</a><br> community on Reddit</blockquote><script async="" src="https://embed.reddit.com/widgets.js" charset="UTF-8"></script>

<hr>
<blockquote class="reddit-embed-bq" style="height:500px" data-embed-height="633"><a href="https://www.reddit.com/r/dataisbeautiful/comments/xf0neu/oc_change_in_dry_periods_per_year_southern_us/">[OC] Change in dry periods per year, Southern US &amp; Northern Mexico (2010s vs. 1980s)</a><br> by<a href="https://www.reddit.com/user/mightylighthouse/">u/mightylighthouse</a> in<a href="https://www.reddit.com/r/dataisbeautiful/">dataisbeautiful</a></blockquote><script async="" src="https://embed.reddit.com/widgets.js" charset="UTF-8"></script>

<hr>

<image width="100%" height=auto src="/img/streambatchcoverage.jpeg"></image>
