---js
const eleventyNavigation = {
	key: "Media",
	order: 2
};
---
<iframe src="https://www.linkedin.com/embed/feed/update/urn:li:ugcPost:7087863661515468804?compact=1" height="auto" width="100%" frameborder="0" allowfullscreen="" title="Embedded post"></iframe>

<image width="100%" height=auto src="https://media.licdn.com/dms/image/v2/D5622AQFQH6b0EIAEaQ/feedshare-shrink_2048_1536/feedshare-shrink_2048_1536/0/1703083402661?e=1732147200&v=beta&t=ZRLW4khzqt8Wps4tMfH4iFsdYcAO2rpecNyz1SZ7dIo">

<image width="100%" height=auto src="https://media.licdn.com/dms/image/v2/D5622AQEl-XlVoaCArA/feedshare-shrink_2048_1536/feedshare-shrink_2048_1536/0/1701443007686?e=1732147200&v=beta&t=hasx7FB5tZMANmBeIYnDjTB-SoIkx5RLG1vW4cR_GlY"></image>

<image width="100%" height=auto src="https://media.licdn.com/dms/image/v2/D5622AQGgfuyQjMeizg/feedshare-shrink_2048_1536/feedshare-shrink_2048_1536/0/1700580501049?e=1732147200&v=beta&t=pmDBqHW9NM4-IpC7UqSJG8ZqvL-ecnmONFishww9Yzs"></image>

<image width="100%" height=auto src="https://media.licdn.com/dms/image/v2/D5622AQFBWcO95I4avA/feedshare-shrink_2048_1536/feedshare-shrink_2048_1536/0/1697125957559?e=1732147200&v=beta&t=eM5LMnpVzQrEok406zwG6dQph3QnzqMyB0vXUCpbS8Y"></image>

<iframe src="https://www.linkedin.com/embed/feed/update/urn:li:ugcPost:7113521381870374912?compact=1" height="auto" width="100%" frameborder="0" allowfullscreen="" title="Embedded post"></iframe>

<image width="100%" height=auto src="https://media.licdn.com/dms/image/v2/C5622AQFp0Kb6CbbG1w/feedshare-shrink_2048_1536/feedshare-shrink_2048_1536/0/1676043301263?e=1732147200&v=beta&t=Ass158Nt7tenUOlRJKTdCkYdh4_C4FdX9DgQpf1Q2LQ"></image>

<blockquote class="reddit-embed-bq" data-embed-height="740">Posts from the <a href="https://www.reddit.com/r/dataisbeautiful/comments/xgup6r/oc_map_of_a_rain_shadow_phenomenon_pacific_west/">dataisbeautiful</a><br> community on Reddit</blockquote><script async="" src="https://embed.reddit.com/widgets.js" charset="UTF-8"></script>

<blockquote class="reddit-embed-bq" style="height:500px" data-embed-height="673"><a href="https://www.reddit.com/r/dataisbeautiful/comments/xx5tnt/oc_cyclone_batsirai_the_longest_lasting_cyclone/">[OC] Cyclone Batsirai - The Longest Lasting Cyclone of 2022</a><br> by<a href="https://www.reddit.com/user/mightylighthouse/">u/mightylighthouse</a> in<a href="https://www.reddit.com/r/dataisbeautiful/">dataisbeautiful</a></blockquote><script async="" src="https://embed.reddit.com/widgets.js" charset="UTF-8"></script>

<blockquote class="reddit-embed-bq" style="height:500px" data-embed-height="633"><a href="https://www.reddit.com/r/dataisbeautiful/comments/xf0neu/oc_change_in_dry_periods_per_year_southern_us/">[OC] Change in dry periods per year, Southern US &amp; Northern Mexico (2010s vs. 1980s)</a><br> by<a href="https://www.reddit.com/user/mightylighthouse/">u/mightylighthouse</a> in<a href="https://www.reddit.com/r/dataisbeautiful/">dataisbeautiful</a></blockquote><script async="" src="https://embed.reddit.com/widgets.js" charset="UTF-8"></script>